.containerButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.containerButtons button {
  color: #202020;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 22px;
  cursor: pointer;
}

.containerButtons .btn1 {
  background-color: rgb(233, 233, 45);
}

.containerButtons .btn2 {
  background-color: orange;
}

.containerButtons .btn3 {
  background-color: lightblue;
}

.containerButtons .btn4 {
  background-color: burlywood;
}
